{
    "extends": [
        "airbnb",
        "prettier"
    ],
    "rules": {
        "react/jsx-filename-extension": [
            1, //włączona reguła
            {
                "extensions": [
                    ".js"
                ]
            }
        ]
    }
}